* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul { /* remove list bullets */
  list-style-type: none;
}

a {
  color: #333;
  text-decoration: none; /* remove link underline */
}

body {
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
}